.App {
  text-align: center;
  display: flex;
  flex-flow: column;
}

.App h1 {
  margin: 5% 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.container.colors {
  display: flex;
  align-items: flex-start;
  height: 25vh;
}

.container.colors img {
  width: 10%;
}

.container.cards {
  width: 100%;
}

.container.cards a {
  width: 15%;
}

.container.cards img {
  width: 80%;
  transition: transform .2s;
}

.container.cards img:hover {
  transform: scale(1.4);
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}